@model DetailsView
@{

    ViewData["Title"] = "Details";

    //EL OPERADOR DE USO COMBINADO NULL ?? DEVUELVE EL VALOR DEL OPERANDO IZQUIERDO SI NO ES NULL
    //EN CASO CONTRARIO EVALUA EL OPERANDO DERECHO Y DEVULVE SU RESULTADO
    //TRADUCIDO= SI NO ENCUANTRA UNA IMAGEN EN LA RUTA DEFINIDA, ENTONCES MUESTRA UNA FOTO POR DEFAULT
    var rutaFoto = "~/images/" + (Model.amigo.rutaFoto ?? "6_logo.jpg");

}

<div class="row justify-content-center m-3" >
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h1>@Model.amigo.Nombre</h1>
            </div>

            <div class="card-body text-center">
                <img src="@rutaFoto" asp-append-version="true" width="300" height="300" />
                <h4>Amigo ID: @Model.amigo.Id</h4>
                <h4>Email: @Model.amigo.Email</h4>
                <h4>Ciudad: @Model.amigo.Ciudad</h4>
            </div>

            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Volver</a>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Borrar</a>
            </div>

        </div>

    </div>

</div>